$secondary-color:#000;
$primery-color:#ffff;
$btn-color:#33de00;
$page-bg:#f2f2f2;
$input-off:#606770;
$aside-hover:#e5f2e7;
$progres-red:linear-gradient(to right, rgb(255, 93, 93), rgb(253, 192, 77));
$progres-orange: linear-gradient(to right,rgb(196, 128, 2), rgb(255, 208, 121) );
$progres-green: linear-gradient(to right, rgb(49, 131, 49), rgb(90, 236, 90));