

.progres__bar{
    width: 5.3rem;
    height: 1.1rem;
    background: #8080803d;
    position: absolute;
    bottom: 37px;
    border-radius: 5px;
    @include respond(tab-port){
        bottom: 30px;
    }
    @include respond(phone){
        bottom: 30px;
        left: 0;
        top: 19px;
    }
    &-red{
        &::before{
            content: "";
            position: absolute;
            height: 1rem;
            border-radius: 50px;
            @include progresbar(20%);
        }
    }
    &-orange{
        &::before{
            content: "";
            position: absolute;
            height: 1rem;
            border-radius: 50px;
            @include progresbar1(30%);
        }
    }
    &-green{
        &::before{
            content: "";
            position: absolute;
            height: 1rem;
            border-radius: 50px;
            @include progresbar2(30%);
        }
    }
   
}



.percent{
    text-align: center;
    display: block;
    @include respond(big-desktop){
        width: 51%;
    }
}